section h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

section p.intro {
    text-align: center;
    font-size: 18px;
    color: #777;
    margin: 0.5em 0 3em;
}

.resources img {
    float: right;
    height: 64;
    width: 80px;
    margin-top: 2em;
}

.resources .btn {
    margin-bottom: 4px;
}

.container-fluid.max-width {
    max-width: 1000px;
}

.main {
    background: url('../img/static.jpg') center 40px no-repeat black;
    padding-top: 55px;
    margin: 0 0 2em 0;
    background-color: black;
    height: 415px;
    color: white;
    text-align: center;
}

.hero-unit {
    background: url('../img/note.png') right center no-repeat;
    background-color: none;
    margin: 0px;
}

.hero-unit .jump {
    padding-top: 100px;
}

.hero-unit .jump .btn {
    font-size: 1.5em;
    box-shadow: 0 0 7px #fff;
    font-weight: bold;
}

.hero-unit .jump img {
    height: 1.2em;
    margin-top: -0.2em;
}

.hero-unit h1 {
    font-weight: bold; font-size: 4em;
    text-shadow: 0 0 10px #000;
}

@media (max-width: 730px) {
    .hero-unit .jump {
        padding-top: 70px;
    }
}

@media (max-width: 500px) {
    .hero-unit .jump {
        padding-top: 10px;
    }
}
